<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flappy Bird AI player</title>
    <script type=text/javascript src="{{url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='aiplayer.js') }}"></script>
    <script type="text/javascript">
        
        $(function(){
            $('.slider').on('input change', function(){
                $(this).next($('.slider_label')).html(this.value);
            });

            $('.slider_label').each(function(){
                var value = $(this).prev().attr('value');
                $(this).html(value);
            });
        })


    </script>
</head>
<!-- dropdown menu -->
<body onload="onLoadFunction();">
    <div>
        <input type="button" onclick="location.href='/';" value="< Home" />
        <input type="button" onclick="location.href='/sp';" value="Single player mode" />
        <input type="button" value="Reload" onClick="window.location.href=window.location.href" />
    </div>
        <div style="float:left;">
            <canvas id="canvas" width="576" height="512"></canvas>
        </div>
    <div>
        <div style="float:left;">
            <form action="/ai/" method = "POST">
                <small>Gravity<br>
                <input type="range" min="5" max="10" step="1" name=gravity id="gra_dd" value="5" class="slider">
                <span  id="gra_lab" class="slider_label"></span><br>

                Jump height<br>
                <input type="range" min="5" max="10" step="1" name=jump id="jum_dd" value="5" class="slider">
                <span  id="jum_lab" class="slider_label"></span><br>

                Population size<br>
                <input type="range" min="20" max="100" step="5" name=population id="pop_dd" value="50" class="slider">
                <span  id="pop_lab" class="slider_label"></span><br>

                Gap between pipes<br>
                <input type="range" min="90" max="140" step="5" name=gap id="gap_dd" value="120" class="slider">
                <span  id="gap_lab" class="slider_label"></span><br>

                Distance between pipes<br>
                <input type="range" min="120" max="180" step="10" name=distance id="dis_dd" value="160" class="slider">
                <span  id="dis_lab" class="slider_label"></span><br>

                Number of hidden neurons<br>
                <input type="range" min="3" max="10" step="1" name=hidden id="hid_dd" value="6" class="slider">
                <span  id="hid_lab" class="slider_label"></span><br>

                Selection rate in %<br>
                <input type="range" min="50" max="100" step="5" name=selection id="sel_dd" value="100" class="slider">
                <span  id="sel_lab" class="slider_label"></span><br>

                Deletion rate in %<br>
                <input type="range" min="1" max="10" step="1" name=deletion id="del_dd" value="5" class="slider">
                <span  id="del_lab" class="slider_label"></span><br>

                Crossover rate in %<br>
                <input type="range" min="40" max="90" step="5" name=crossover id="cro_dd" value="80" class="slider">
                <span  id="cro_lab" class="slider_label"></span><br>

                Mutation on population in %<br>
                <input type="range" min="5" max="30" step="5" name=mutation1 id="mu1_dd" value="10" class="slider">
                <span  id="mu1_lab" class="slider_label"></span><br>

                Mutation on entity in %<br>
                <input type="range" min="5" max="30" step="5" name=mutation2 id="mu2_dd" value="5" class="slider">
                <span  id="mu2_lab" class="slider_label"></span><br>

                Treshold<br>
                <input type="range" min="5000" max="50000" step="5000" name=threshold id="tre_dd" value="15000" class="slider">
                <span  id="tre_lab" class="slider_label"></span><br> </small>

                <small><input id="apply" type="submit" formmethod="POST" value="Apply"/>
                <small><input id="start" type="button" value="Start" />
            </form>
        </div>
    </div>


    <script>
        var cvs = document.getElementById("canvas");
        var ctx = cvs.getContext("2d");
        // welcome page on canvas
        function onLoadFunction(){

    
            var bg = new Image();
            bg.addEventListener('load', function() {
                //background
                ctx.drawImage(bg,0,0);
                //welcome
                ctx.font = "20px Monospace";
                ctx.fillStyle = 'white';
                ctx.textAlign = "center";
                ctx.fillText("AI player mode!", cvs.width/2, 100);
                //description
                ctx.font = "15px Monospace";
                ctx.fillStyle = 'black';
                ctx.fillText("This program will learn to play Flappy Bird.", cvs.width/2, 150);
                ctx.fillText("Set the running parameters on right, then click Start!", cvs.width/2, 175);
                //details
                ctx.font = "10px Monospace";
                ctx.fillStyle = "grey";
                ctx.fillText("Created by MV with the help of HB.", cvs.width/2, cvs.height - 10);
    
                document.getElementById("start").disabled = true;
                if ( "{{database_status}}" == "OK"){
                    $('#gra_dd').val("{{gravity}}")
                    $('#jum_dd').val("{{jump}}");
                    $('#pop_dd').val("{{population}}");
                    $('#gap_dd').val("{{gap}}");
                    $('#dis_dd').val("{{distance}}");
                    $('#hid_dd').val("{{hidden}}");
                    $('#sel_dd').val("{{selection}}");
                    $('#del_dd').val("{{deletion}}");
                    $('#cro_dd').val("{{crossover}}");
                    $('#mu1_dd').val("{{mutation1}}");
                    $('#mu2_dd').val("{{mutation2}}");
                    $('#tre_dd').val("{{threshold}}");

                    $('#gra_lab').html("{{gravity}}");
                    $('#jum_lab').html("{{jump}}");
                    $('#pop_lab').html("{{population}}");
                    $('#gap_lab').html("{{gap}}");
                    $('#dis_lab').html("{{distance}}");
                    $('#hid_lab').html("{{hidden}}");
                    $('#sel_lab').html("{{selection}}");
                    $('#del_lab').html("{{deletion}}");
                    $('#cro_lab').html("{{crossover}}");
                    $('#mu1_lab').html("{{mutation1}}");
                    $('#mu2_lab').html("{{mutation2}}");
                    $('#tre_lab').html("{{threshold}}");


    
                    document.getElementById("apply").disabled = true;
                    document.getElementById("start").disabled = false;
                    document.getElementById("gra_dd").disabled = true;
                    document.getElementById("jum_dd").disabled = true;
                    document.getElementById("pop_dd").disabled = true;
                    document.getElementById("gap_dd").disabled = true;
                    document.getElementById("dis_dd").disabled = true;
                    document.getElementById("hid_dd").disabled = true;
                    document.getElementById("sel_dd").disabled = true;
                    document.getElementById("del_dd").disabled = true;
                    document.getElementById("cro_dd").disabled = true;
                    document.getElementById("mu1_dd").disabled = true;
                    document.getElementById("mu2_dd").disabled = true;
                    document.getElementById("tre_dd").disabled = true;

                }
            }, false);
            bg.src = "../static/images/welcome.png";
    
            //clicking the start button
            document.getElementById("start").addEventListener("click", function(){

                document.getElementById("start").disabled = true;
                $.ajax({
                    type: "POST",
                    url: "/ai/start",
                    contentType: "application/json",
                    data: JSON.stringify( {"request" : "start"} ),
                    dataType: "json",
                    async: false,
                    success: function(response) {
                        start_gen();
                    },
                    error: function(err) {
                        console.log(err || 'Error!');
                    }
                });                
            });
            
        };
    </script>
</body>
</html>