<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flappy Bird AI learning</title>
</head>
<body>
<form>
    Gravity:
    <select name=gravity method="POST" action="/">
        {% for gravity in gravity %}
            <option value= "{{gravity}}" SELECTED>{{ gravity }}</option>"
        {% endfor %}
    </select>
    Population:
    <select name=population method="POST" action="/">
        {% for population in population %}
            <option value= "{{population}}" SELECTED>{{ population }}</option>"
        {% endfor %}
    </select>
    Gap:
    <select name=gap method="POST" action="/">
        {% for gap in gap %}
            <option value= "{{gap}}" SELECTED>{{ gap }}</option>"
        {% endfor %}
    </select>

    <input type="submit" formmethod="POST" value="Set"/>
    <small style="color:green;" name=database_status method="POST" action="/"> {{ database_status }} </small>
</form>


</body>
</html>