<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Flappy Bird single player</title>
  </head>
  <body>
   <input type="button" onclick="location.href='/';" value="< Home" />
   <input type="button" onclick="location.href='/ai';" value="AI player mode" />
   <!-- This is the flappy bird single player script -->
   <div> <canvas id="canvas" width="576" height="512"></canvas> </div>
   
   <script type=text/javascript src="{{url_for('static', filename='singleplayer.js') }}"></script>
  </body>
</html>